.EditKeyword_Delete:hover {
}

.Paper {
  margin: 1.2em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;

  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.left {
  text-align: left;
}

.headers {
  color: red;
  padding-top: 20px;
}

.rows {
  font-size: small;
  text-align: left;
}

.Table {
  width: 100%;
  margin-top: 15px;
}
.headerRow,
.evenRow,
.oddRow {
  border-bottom: 1px solid #e0e0e0;
}
.oddRow {
  background-color: #fafafa;
}
.headerColumn {
  text-transform: none;
}
.exampleColumn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkboxLabel {
  margin-left: 0.5rem;
}
.checkboxLabel:first-of-type {
  margin-left: 0;
}

.noRows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #bdbdbd;
}

/*----------------------------------------*/

.eventDetails-form-container {
  margin: 0px auto;
  margin-top: 5px;
}
.eventDetails-form {
  float: left;
  width: 100%;
  height: auto;
}
.eventDetails-form-textinput {
  float: left;
  width: 100%;
  border: 1px solid grey;
  font-size: medium;
}
