.box {
  margin: 1.5em;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

.box > div {
  padding: 1.3em;
  padding-top: 0;
}

.header {
  grid-column: 1 / 3;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
}

.oneliner {
  justify-content: left;
  grid-column: 1 / 3;
}

.description {
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

.left {
  grid-column: 1 / 2;
  text-align: justify;
}

.right {
  grid-column: 2 / 3;
}

.descriptors {
  grid-column: 1 / 3;
  text-align: left;
}
